html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
html, body {
    margin:0; padding:0;
}
body {
    position: relative;
    background-color: rgb(65, 17, 80);
    height: 100vh;
}
.keys{
    width: 100%;
    display: flex;
    gap: 2vw;
    padding: 2vw;
}

.key{
    flex-grow: 1;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    border: 1px solid white;
    border-radius: 0.25ch;
    cursor: pointer;
    user-select: none;
}

.chordkey{
        color: black;
        margin: 10px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        border-radius: 0.25ch;
        border: 1px solid white;
        cursor: pointer;
        user-select: none;
        width: 100px;
}

.chords{
    justify-content: center;
    bottom:1vh;
    left:0;
    width: 100%;
    display: flex;
    gap: 2vw;
    padding: 2vw;
}